/* Setup snippet */
html{scroll-behavior:smooth; font-size: 125%; line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* {margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* CSS Variables */
:root {
    /* Fonts */
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Lato', sans-serif;
    /* Colors */
    --color-background: #f9f9f9;
    --color-background-secondary: #fff;
    --color-background-tertiary: #111111;
    --color-heading: #111111;
    --color-text-secondary: #646464;
    --color-secondary: #0dd97e;
}

.wrapper {
    width: 90%;
    max-width: 2160px;
    margin: 0 auto;
}

/* Global styling */
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

nav {
    font-family: var(--font-body);
    width: 40%;
    /* background-color: yellow; */
}

.navMain {
    display: flex;
    /* background-color: violet; */
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 50px;
    align-items: baseline;
    /* background-color: lightcoral; */
}

nav ul li a {
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus,
footer ul li a:hover, 
footer ul li a:focus {
    color: var(--color-secondary);
}

h1 {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 40px;
}

h2 {
    font-family: var(--font-heading);
    font-size: 3rem;
}

h1 span {
    display: block;
}

p {
    font-family: var(--font-body);
    color: var(--color-text-secondary);
}

header {
    min-height: 100vh;
    background-color: var(--color-background-secondary);
}

.logo {
    /* background-color: violet; */
    width: 3rem;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.logo h2 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px;
}

.hamburger {
    font-size: 2rem;
    display: none;
}

.headerContainer {
    height: calc(90vh - 73px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkToSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-top: 30px;
}

.wrapperInner {
    background-color: yellowgreen;
}

.linkCaption {
    color: var(--color-heading);
}

.about .linkCaption {
    padding: 0;
    color: var(--color-heading);
}

.aboutMeContainer .linkToMedium p, 
.skillsContent .linkToProjects p {
    padding-top: 0;
}

.headingContainer {
    /* background-color: lightcoral; */
    width: 30%;
    /* padding: 5%; */
    margin: 0 0 3% 8%;
}

/* Buttons */
.linkButton {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 40px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
}

.linkButton:hover, .linkButton:focus {
    background-color: var(--color-background);
    outline: 3px solid var(--color-secondary);
    border-radius: 40px;
}

.contactContentLinks button {
    margin-top: 30px;
}

/* Icons */
i {
    font-size: 2rem;
}

.linkIcon {
    color: var(--color-background);
    padding: 10px 25px;
}

.linkIcon:hover, .linkIcon:focus {
    color: var(--color-secondary);
}

/* Decorative Lines */
.linkToSection .line, .linkToMedium .line, .linkToProjects .line {
    height: 1px;
    width: 25%;
    background-color: var(--color-background-tertiary);
}

.linkToMedium, .linkToProjects {
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}



.sliderContainer {
    width: 50%;
    display: flex;
    height: 100%;
}

.slider {
    width: 100%;
    height: 100%;
}

.sliderImage {
    width: 100%;
    height: 100%;
}

/* .sidebar {
    background-color: var(--color-background-tertiary);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
} */

.sidebar p span {
    display: inline;
}

.about {
    min-height: 100vh;
    background-color: var(--color-background);
}

.aboutWrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: yellowgreen; */
}

.aboutMeContainer {
    width: 50%;
    height: 100vh;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMeContent, .skillsContent {
    /* background-color: lightslategray; */
    width: 80%;
    padding: 10%;
    line-height: 35px; 
}

.aboutMeContent p {
    color: var(--color-text-secondary);
}

.aboutMeContainer p, .skillsContent p {
    padding-top: 30px;
}

.aboutImage {
    /* background-color: khaki; */
    max-width: 25%;
    max-height: 400px;
}

.aboutImage img {
    width: 100%;
    height: 100%;
}

.skillsContainer {
    display: flex;
    justify-content: space-between;
    /* background-color: lightsteelblue; */
}

.skillsIconsContainer {
    /* background-color: mediumpurple; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    padding: 5%;
}

.skillsIconContainer {
    padding: 5%;
}

.skillsIconsContainer i {
    font-size: 3rem;
}

.skillsIconContainer  {
    text-align: center;
    /* background-color: mediumvioletred; */
    width: 200px;
    margin: auto;
}

.projects {
    height: 100vh;
}

h3 {
    font-family: var(--font-heading);
}

.projects .wrapper {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.projectDetailsContainer {
    /* background-color: mediumslateblue; */
    width: 50%;
    padding: 10%;
    line-height: 35px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectDescription {
    padding: 20px 0;
}

.projectHeading {
    padding-top: 40px;
}

.projectLinks {
    /* display: flex; */
    /* justify-content: space-around; */
    padding: 30px 0;
}

.projectLinks a {
    transition: color 0.2s ease-in-out;
}

.projectLinks a:first-of-type {
    padding-right: 50px;
}

.projectLinks a:hover,
.projectLinks a:focus {
    color: var(--color-secondary);
}

.projectDetails i {
    font-size: 1.8rem;
}

.projectDetails p {
    color: var(--color-text-secondary);
}

.projectImage {
    width: 100%;
}

.projectDescriptionContainer i {
    font-size: 2rem;
}

.projectImageContainer {
    /* background-color: mediumspringgreen; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectsSliderContainer {
    background-color: var(--color-background-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectsSliderContainer p {
    color: var(--color-background);
}

.projectsSliderContainer i {
    color: var(--color-background);
    padding: 20px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1.5rem;
}

.projectsSliderContainer i:hover, 
.projectsSliderContainer i:focus {
    color: var(--color-secondary);
}

.sidebar p {
    color: white;
    transform: rotate(90deg);
}

.step {
    padding-left: 10px;
    position: relative;
}

.line {
    height: 1px;
    background-color: var(--color-background);
    width: 50%;
}

.contact {
    min-height: 100vh;
    /* background-color: violet; */
    display: flex;
    align-items: center;
}

.contact .wrapper {
    /* background-color: wheat; */
    display: flex;
    height: 100vh;
}

.contactContent {
    /* background-color: yellowgreen; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactContent p {
    color: var(--color-text-secondary);
}

.contactContentLinks {
    width: 40%;
}

.contactContentLinks p {
    margin-top: 20px;
    color: var(--color-text-secondary);
}

.contactContentLinks h3 {
    font-size: 2rem;
}

.contactContent i {
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
}

.contactContent i:hover,
.contactContent i:focus {
    color: var(--color-secondary);
}

.contactContentLinks {
    /* background-color: lightsalmon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emailLink, .linkedInLink {
    text-align: center;
    margin-top: 30px;
}

footer {
    background-color: var(--color-background-tertiary);
    color: var(--color-background);
}

footer .wrapper {
    padding: 100px 0;
}

footer .logo {
    border-right: 2px solid var(--color-background);
    border-left: 2px solid var(--color-background);
    margin: 0 auto;
}

footer ul:first-of-type {
    /* background-color: violet; */
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    font-family: var(--font-body);
    padding: 50px 0 25px 0;
}

footer ul:nth-of-type(2) {
    /* background-color: yellowgreen; */
    display: flex;
    /* width: 50%; */
    margin: 0 auto;
    justify-content: center;
}



footer .fa-linkedin {
    margin-right: 10px;
}

footer .fa-github {
    margin-left: 10px;
}

footer p {
    text-align: center;
    color: var(--color-background);
    padding: 25px 0 50px 0;
}

footer ul li a {
    color: var(--color-background);
    transition: color 0.2s ease-in-out;
}

.mobileNav {
    display: none;
    flex-direction: column;
    background-color: lightsalmon;
    /* padding: 100px 0; */        
}

.opened {
    display: flex;
}

.btt {
    color: var(--color-background);
    font-family: var(--font-body);
    text-align: center;
    display: block;
    padding-bottom: 50px;
    transition: color 0.2s ease-in-out;
}

.btt:hover, .btt:focus {
    color: var(--color-secondary);
}

/* Tablet MQ */
@media (max-width: 1200px) {
    
    /* Containers & sections */
    .headerContainer, .about, .projects, .projects .wrapper, 
    .contact, .contact .wrapper {
        height: auto;
    }

    .headingContainer {
        margin: 0 0 0 0;
    }

    .aboutMeContainer {
        height: auto;
        width: 100%;
    }

    .skillsContainer {
        flex-direction: column;
    }

    .aboutWrapper {
        flex-direction: column-reverse;
    }

    .projects .wrapper {
        flex-direction: column;
    }

    .contact .wrapper {
        flex-direction: column;
    }

    .contactContent, .contactContentLinks {
        width: 100%;
        text-align: center;
    }

    .contactContent p {
        padding-top: 30px;
    }

    .projectImageContainer {
        width: 100%;
    }

    .aboutMeContent {
        width: 100%;
        padding: 10% 0;
    }

    .aboutMeContent p {
        padding: 50px 0;
    }

    .projectDetailsContainer {
        width: 100%;
        padding: 10% 0;
    }

    .skillsContent {
        padding: 10% 0;
    }

     nav {
        width: 100%;
        position: fixed;
        left: 0;
        padding: 0 30px;
        z-index: 1;
        background-color: var(--color-background-secondary);
    }

      nav ul {
        align-items: center;
        padding: 20px 0;
    }

    .linkToSection {
        margin: 0 auto;
    }

    .navMain {
        padding: 20px 0;
    }

    .aboutImage {
        max-width: 50%;
        max-height: 100%;
    }

    .headerContainer {
        flex-direction: column-reverse;
    }

    .headingContainer {
        /* margin: 10% 0 0 0; */
        width: 100%;
        text-align: center;
    }

    .sliderContainer {
        width: 75%;
    }

    .navLinks {
        display: none;
    }

    .hamburger {
        display: block;
    }
}


@media (max-width: 500px) {
    .skillsIconContainer {
        width: 150px;
    }

    .navMain {
        padding: 0;
    }

    .logo h2 {
        font-size: 1rem;
    }

    .logo {
        width: auto;
    }

     h2 {
        font-size: 2rem;
    }
}

/* Mobile MQ */
@media (max-width: 400px) {
    
    header {
        height: auto;
    }
 
    .headingContainer {
        margin: 20% auto;
    }

    h1 {
        font-size: 4rem;
    }    

    .sliderContainer {
        width: 100%;
    }

    .projectDetailsContainer {
        width: 100%;
    }

    .aboutMeContent h2 {
        text-align: center;
    }

    .contactContent {
        width: 100%;
    }

    .projects .line {
        width: 30%;
    }

    .mobileNav li {
        padding: 30px 0;
        /* background-color: lightseagreen; */
    }

    
}